<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout " layout:decorate="Layout"
      xmlns:th="http://www.w3.org/1999/xhtml">

<body>
<div layout:fragment="content">
  <hr />
  <div class="row">
    <div class="col-md-4">
      <form action="#" th:action="@{/UpdateSchedule}" th:object="${schedule}" method="post">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group">
          <label for="scheduleName" class="control-label">Название мероприятия</label>
          <input type="text" th:field="*{scheduleName}" id="scheduleName" placeholder="Название мероприятия" class="form-control">
        </div>
        <div class="form-group">
          <label for="treName" class="control-label">Тренер</label>
          <input type="text" th:field="*{treName}" id="treName" placeholder="Тренер" class="form-control">
        </div>
        <div class="form-group">
          <label for="DateTime" class="control-label">Описание</label>
          <input type="datetime-local" th:field="*{DateTime}" id="DateTime" placeholder="Время проведения" class="form-control">
        </div>
        <div class="form-group">
          <input type="submit" value="Изменить" class="btn btn-primary" />
        </div>
      </form>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>